$color-white: #FFFFFF;
$color-black: #000000;
$color-bg: #F9F8F3;
$color-on-bg: #5F5D75;
$color-on-bg-low: #737380;
$color-bg-footer: #1E1B3A;
$color-bg-footer-low: #2A264F;
$color-bg-footer-lowest: #3C376E;
$color-on-bg-footer: #B9B5C9;
$color-surface: #FFF9E5;
$color-surface-low: #FFFCF5;
$color-primary: #FFD02B;
$color-primary-low: #FDE047;
$color-primary-high: #E5BB00;
$color-on-primary: #242145;
$color-secondary: #F0EEFF;
$color-tertiary: #3A2EBF;
$color-like: #FF4B4B;
$color-error: #B3261E;
$color-price-free: #0B8A8F;
$color-outline: #E5E7EB;
$color-outline-variant: #D2D2D2;
$color-avatar-1: #E9EEF6;
$color-avatar-2: #A3E2C9;
$color-avatar-3: #BCE3FF;
$color-avatar-4: #FFC6FF;
$color-avatar-5: #E8DFF5;
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-extra-bold: 800;
$size-display-large: 56px;
$size-display-medium: 36px;
$size-display-small: 24px;
$size-headline-large: 32px;
$size-headline-medium: 24px;
$size-headline-small: 20px;
$size-body-large: 18px;
$size-body-medium: 16px;
$size-body-small: 14px;
$size-label-extra-large: 16px;
$size-label-large: 14px;
$size-label-medium: 12px;
$size-label-small: 10px;
$size-05: 4px;
$size-1: 8px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;
$size-7: 56px;
$size-8: 64px;
$size-9: 72px;
$size-10: 80px;
$size-11: 88px;
$size-12: 96px;
$size-13: 104px;
$size-14: 112px;
$size-15: 120px;
$corner-extra-small: 4px;
$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-extra-large: 24px;
$corner-full: 9999px;
$padding-btn-large: 24px 16px;
$padding-btn-medium: 10px 20px;
$padding-btn-small: 16px 8px;
$padding-btn-icon: 8px;
$shadow-level-1: 4px 4px $color-on-primary;
$shadow-level-2: 6px 6px $color-on-primary;
$shadow-level-3: 8px 8px $color-on-primary;
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1920px;
